<footer class="site-footer">
  <small>
				<a href="https://github.com/Shankari02" target="_blank" aria-label="GitHub">
					<img src="/assets/img/github.svg" alt="GitHub" />
				</a>
				<a href="https://linkedin.com/in/shankari-anand" target="_blank" aria-label="LinkedIn">
					<img src="/assets/img/linkedin.svg" alt="LinkedIn" />
				</a>
				<a href="mailto:shankari.anand618@gmail.com" target="_blank" aria-label="Twitter">
					<img src="/assets/img/mail.svg" alt="Email" />
				</a>
  </small>
</footer>
